# Python
__pycache__/
*.pyc
*.pyo

# Virtual environments
.venv/
venv/

# Build / dist
build/
dist/
*.egg-info/

# Data / outputs
*.npz
*.csv
*.png

# OS
.DS_Store
Thumbs.db

# Frontend
node_modules/
dist/